<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trayectoria en Barcelona</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="icon" href="../imagenes/sports_soccer_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png"type="icon">>
</head>
<body>
    <header>
        <div>
        <h1>BARCELONA FC</h1>
        
        </div>
    
    
	</header>
   <!-- ACA COMIENZA EL MAIN-->
	<main>
        <section id="¿Quien es Lionel Messi">
			<h2>Trayectoria de Lionel Messi en Barcelona<h2>
			<h3>  Messi (Rosario, Argentina, 24 de junio de 1987) es el mejor jugador de fútbol de todos los tiempos y el hombre récord del FC Barcelona. Educado en La Masía, su figura estará siempre ligada a la historia del Barça como el mejor jugador que nunca ha vestido la camiseta azulgrana
				Lionel Andrés Messi comenzó su carrera deportiva en 1995, en el Newell's Old Boys, equipo en el que jugó hasta el 2000. Con 13 años, pues, viajó desde Argentina para venir a probar suerte a Barcelona y, rápidamente, se incorporó al Club en la categoría Infantil. Desde aquel momento, Messi tuvo una progresión meteórica por las diferentes categorías del fútbol base quemando etapas en un tiempo récord. Y convirtiéndose en una auténtica leyenda insuperable.</h3>
				<h2><img src="../imagenes/MESSI BARCELO.jfif" alt="Messi en Barcelona"></h2>
			<h3>Desde pequeño, el juego de Messi ha destacado por su visión de juego, precisión, verticalidad y por un pie izquierdo con una fuente inagotable de magia.
				 
				
				Durante la temporada 2003/04, Messi logra, con sólo 16 años, el gran sueño de todo jugador surgido de La Masía: debutar con el primer equipo, a pesar de ser en un partido amistoso ante el Oporto que sirve para inaugurar el Estádio do Dragão.
				
				Así, fue en el curso siguiente cuando el argentino se estrenó oficialmente con el primer equipo el 16 de octubre de 2004, en un derbi en Montjuïc contra el Espanyol, que acabó con triunfo azulgrana por 0-1.
				Aquella temporada, y siendo muy joven, Messi ya pasó a ser uno de los habituales en las convocatorias de Frank Rijkaard. Pero la temporada 2005/06 es la de su explosión y es uno de los principales artífices de la consecución de la segunda Champions y de la decimoctava Liga. Con la marcha de Ronaldinho el verano de 2008, Messi se convierte en el jugador franquicia del Barça.
				
				Superándose año tras año, es el gran protagonista de la consecución de los 35 títulos que logra el Club durante su trayectoria, de entre los que destacan el Sextete de 2009 y el triplete de 2015.</h3>	
				<h2><img src="../imagenes/MESSI BARCELO 2.jfif" alt="Messi en Barcelona"></h2>
				<h3>Todos los récords de Leo Messi
					El crack argentino es el máximo goleador, el futbolista con más partidos jugados, con más títulos, con más victorias...
					
					A título individual, Messi no ha parado de romper récords con el Barça desde muy joven. Es el jugador que más partidos ha jugado (778), el que más goles ha convertido (672), el que más asistencias ha hecho (305) y el que más títulos ha conquistado (35).
					
					Además, en cuanto a récords absolutos, tiene el récord de goles marcados en un año natural (91 goles), superando la cifra histórica de Gerd Müller de 1972; el que tiene más Pichichis, más Botas de Oro y más Balones de Oro; y el que más goles ha marcado en un mismo Club, pasando por delante de Pelé. 
					
					Leo Messi también es considerado un líder de la selección Argentina. En 2005 se proclamó campeón del Mundial sub-20 y fue el máximo goleador y mejor jugador del torneo. En 2008 gana el oro olímpico en Pekín, mientras que en el Mundial de Brasil de 2014 cayó en la final ante Alemania. Y, en 2021, por fin pudo ganar su primer título con la absoluta: la Copa América.
					
					Fue en el verano de 2021 cuando finaliza la historia de amor entre el FC Barcelona y Leo Messi. El '10' del Barça cierra su trayectoria en el Club convertido en el hombre récord de la historia del FC Barcelona y en mito eterno del barcelonismo.</h3>
				<h6><img src="../imagenes/messi trofeos.jpg" alt="Messi en Barcelona"></h6>
				 
				<h3>Trayectoria
					<ul>Temporadas en el Club: 2003-2021</ul>
					<ul>Partidos jugados: 778</ul>
					<ul>Goles marcados: 672</ul>
					<ul>Títulos con el FC Barcelona</ul>
					<ul>3 Mundiales de Clubes de la FIFA </ul>
					<ul>4 UEFA Champions League </ul>
					<ul>3 Supercopas de Europa </ul>
					<ul>10 Ligas españolas</ul>
					<ul>7 Copas del Rey </ul>
					<ul>8 Supercopas de España</ul></h3>
				
				
		</h3>
       