<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario </title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagenes/sports_soccer_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png" type="icon">
     
</head>
<body>
          <!-- ACA COMIENZA EL HEADER-->
 <header>
    <div>
        <h1> La biografia de Lionel Messi</h1>
        
    </div>
 </header>  
 <!-- navbar-->
 <nav class="navbar">
<a href="../../index.html">inicio</a>
  </nav> 
  <!-- miformulario-->
   
   <fieldset><legend>FORMULARIO DE REGISTRO</legend>
    <label for="nombre">NOMBRE </label>
    <input type="text" name="nombre" id="nombre"required >
    <label for="apellido">APELLIDO</label>
    <input type="text" name="apellido" id="apellido"required >
    <label for="email">EMAIL</label>
    <input type="text" name="email" id="email" required>
    <label for="pass">CONTRASEÑA </label>
    <input type="password" name="pass" id="pass">
    <label for="fecha">fecha de nacimiento</label>
    <input type="date" name="fecha" id="fecha">
    <input type="submit" value="registrarse">
    <input type="reset" value="borrar">
</fieldset>
   
<!-- footer-->
  <footer>
    <p>
      &copy; Valentin Mendieta, potrero digital 2024</p>
  </footer>
</body>
</html>