<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagenes/sports_soccer_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png"type="icon">>
    <title>Trayectoria en Inter de Miami</title>
</head>
<body>
    <header>
        <div>
        <h1>INTER DE MIAMI FC</h1>
        
        </div>
    
    
	</header>
   <!-- ACA COMIENZA EL MAIN-->
	<main>
        <section id="¿Quien es Lionel Messi">
			<h2>Trayectoria de Lionel Messi en Inter de Miami<h2>
			<h3> La revolución de Lionel Messi en Estados Unidos fue algo sin precedentes. Tras la presentación, que para muchos fue deslucida, el argentino finalmente se puso la camiseta la camiseta rosa y empezó a mostrar por qué es el mejor jugador del mundo: consiguió un título, un subcampeonato y, sobre todo, le cambió la cara a un equipo que no daba pie con bola.

                Sin embargo, el impulso que le dio el argentino no fue suficiente para alcanzar los Playoffs de la MLS. Tras la derrota ante Charlotte FC; el Inter Miami cerró la temporada en la ante última posición de la Conferencia Este, a nueve puntos de su reciente rival, el último en ingresar a la siguiente fase del torneo.
                
                </h3>
				<h3><img src="../imagenes/Mesi in 3.jfif" alt="Messi en Inter de Miami"></h3>
			<h3>Es necesario recordar que el Inter Miami llevaba una descontrolada racha de 10 partidos sin conocer la victoria y muchos escépticos se preguntaban si la participación del crack mundial iba a poder revertir este escenario sombrío.

                Pues bien, las dudas tardaron muy poco en disiparse. En el debut, ante Cruz Azul por la Leagues Cup, Messi ingresó desde el banco y en tiempo de descuento le dio la victoria a su equipo, con un tiro libre ya de marca registrada.</h3>	
				<h3><img src="../imagenes/Messi in 2.jfif" alt="Messi en Inter de Miami"></h3>
				<h3>Con el debut aprobado, las cosas solo continuarían hacia arriba para el mejor de la historia: goles, asistencias y el primer título de la historia para el Inter Miami, tras superar en una definición dramática a Nashville SC, desde los penales (10 a 9 fue el resultado final).

                    Luego vendría la semifinal de la US Open Cup, con todo el cansancio a cuestas para los de Gerardo Martino. Rápidamente quedaron 0-2 ante Cincinnati pero otra vez apareció él, el Messias, con dos asistencias para mandar el partido, otra vez, a los penales. Y nueva victoria para los de rosa.
                    
                    En la final, sin Messi por la lesión que ya comenzaba a molestarlo, el Inter Miami caería ante Houston Dynamo, por 2 a 1.</h3>
				
				 
				
				
				
		</h3>