<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagenes/sports_soccer_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png"type="icon">>
    <title>Trayectoria en Paris Saint-Germain</title>
</head>
<body>
    <header>
        <div>
        <h1>PARIS SAINT-GERMAIN FC</h1>
        
        </div>
    
    
	</header>
   <!-- ACA COMIENZA EL MAIN-->
	<main>
        <section id="¿Quien es Lionel Messi">
			<h2>Trayectoria de Lionel Messi en Paris Saint-Germain<h2>
			<h3> Una leyenda que sigue escribiendo la historia. Lionel Messi marcó época en el club capitalino, por varias razones, y como era de esperarse, como La Pulga dejará su huella imborrable en la historia del fútbol.



                Una nueva vida, para alguien que ha desarrollado casi toda su carrera en el Barcelona, ​​ganando todo a su paso. Una nueva vida que ha recorrido a tientas, durante una primera temporada que se verá coronada con un primer título de campeón de Francia, el 10º en la historia del club, y el Balón de Oro, su 7º, una actuación única que es probable que quede grabado en piedra.
                
                </h3>
				<h2><img src="../imagenes/messi pechege.jfif" alt="Messi en PSG"></h2>
			<h3>
                Una nueva vida, para alguien que ha desarrollado casi toda su carrera en el Barcelona, ​​ganando todo a su paso. Una nueva vida que ha recorrido a tientas, durante una primera temporada que se verá coronada con un primer título de campeón de Francia, el 10º en la historia del club, y el Balón de Oro, su 7º, una actuación única que es probable que quede grabado en piedra.

Un primer sello estampado con el número 30 en el libro de leyendas del Paris Saint-Germain. Doble consagración la temporada siguiente, con este 11º título que consigue el club de la capital, un título histórico que convierte a los Rouge et Bleu en los reyes absolutos de Francia. Un título también ganado gracias a Messi, que ha registrado estadísticas impresionantes, 21 goles marcados en todas las competiciones y 16 asistencias solo en la Ligue 1. El argentino se corona como el mejor asistidor del campeonato esta temporada y sucede a su compañero Kylian Mbappé, ganador el año pasado. También es co-mejor pasador en las 5 grandes ligas esta temporada, empatado con Kevin De Bruyne (Manchester City).

                </h3>	
				<h2><img src="../imagenes/messi pechege 2.jfif" alt="Messi en PSG"></h2>
				<h3>Messi también habrá cumplido el último sueño de ganar la Copa del Mundo con su país, y convertirse en un héroe para la eternidad, trofeo conquistado a mitad de temporada, ante su compañero en el Paris Saint-Germain Kylian Mbappé, en una final memorable.

                    Leo habrá podido volcar el Parc, con su vista, sus aceleraciones y su técnica, siempre justa y preciosa. Su maravillosa zurda superó a tantos porteros, cómo no mencionar este tiro libre victorioso en el último segundo ante el Lille, durante un partido memorable que vio al París ganar 4-3 después de un encuentro increíble.
                    
                    Una historia que termina con un nuevo título pues, el 46 para el club, el 43 para Messi que se convierte en uno de los jugadores más laureados de la historia del fútbol.</h3>
		<h2><img src="../imagenes/messi pechege 3.jpg" alt="Messi en PSG"></h2> 	</h3>	
				
				
				
				
		
   